<!--/* ACTION BAR */-->
<section>
  <div class="container-fluid shadow m-0">
    <div class="container my-0">
      <div class="row justify-content-center justify-content-lg-start">
        <!--/* search bar */-->
        <div class="col-auto py-2">
          <div class="d-flex align-items-center">
            <label for="searchBar" class="my-auro me-2">
              <fa-icon [icon]="iconSearch" class="me-1"></fa-icon>
            </label>
            <input
            id="searchBar"
              type="text"
              placeholder="Filter by name or rank"
              class="input-group-text text-start shadow"
              size="30"
              (input)="onInputSearchFilter($event)"
            >
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="border border-2 border-success"></div>
</section>

<!--/* TITLE */-->
<section>
  <div class="container text-center text-bg-success py-1 my-4 shadow">
    <h1>Armor sets list</h1>
  </div>
</section>

<!--/* TABLE */-->
<section>
  <!--/* spinner */-->
  <div class="position-fixed top-50 start-50 translate-middle" *ngIf="loadingArmorsSets">
    <div class="spinner-border"></div>
  </div>
  <!--/* table */-->
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-auto">
        <table class="table table-striped">
          <thead class="table-success">
          <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Rank</th>
            <th>Pieces</th>
          </tr>
          </thead>
          <tbody>
            <ng-container *ngFor="let armorSets of armorsSets$ | async">
              <tr *ngFor="let armorSets of armorsSets$ | async">
                <th scope="row">{{armorSets.id}}</th>
                <td>{{armorSets.name}}</td>
                <td>{{armorSets.rank}}</td>
                <td>
                  <div
                    (click)="onClickPieces(armorSets.id)"
                    class="table-link"
                  >
                    {{armorSets.resumePieces}}
                  </div>
                  <div
                    *ngIf="openbyIdSet === armorSets.id"
                    class="stretched-link"
                  >
                  <div class="row">
                    <div class="col-12">
                      <div class="card shadow">
                        <div class="card-header">
                          Featured
                        </div>
                        <ul class="list-group list-group-flush">
                          <li class="list-group-item">An item</li>
                          <li class="list-group-item">A second item</li>
                          <li class="list-group-item">A third item</li>
                        </ul>
                      </div>

                    </div>
                  </div>


                  </div>

                </td>
              </tr>
            </ng-container>

          </tbody>
        </table>
      </div>
    </div>
  </div>
</section>
