<!--/* ACTION BAR */-->
<section>
  <div class="container-fluid shadow m-0">
    <div class="container my-0">
      <div class="row justify-content-center justify-content-lg-between">
        <div class="col-auto py-2">
          <input
            type="text"
            placeholder="Filter by name, type or rank"
            class="input-group-text text-start shadow"
            size="30"
            (input)="onInputSearchFilter($event)"
          >
        </div>

        <div class="col-auto py-2">
          <button
            class="btn btn-success my-auto shadow"
            (click)="onClickAddElement()"
          >
          NEW ARMOR
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="border border-2 border-success mb-3"></div>
</section>

<!--/* CARDS */-->
<section>
  <div class="container mt-2">
    <div class="row justify-content-arround">
      <ng-container *ngFor="let armor of armors$ | async">
        <div class="col-auto mx-auto">
          <app-armor-card
          [armorInput]="armor"
          (editElement)="onClickEditElement($event)"
          (deletedElement)="onClickDeleteElement(modalDelete, $event)"
          ></app-armor-card>
        </div>
      </ng-container>
    </div>
  </div>
</section>

<!--/* MODAL FORM */-->
<app-armor-modal-form (refreshArmorsObservable)="refreshArmorsOservable()"></app-armor-modal-form>

<!--/* TOAST DELETE SUCCESS */-->
<ngb-toast
  *ngIf="showDeleteSuccessToast"
  class="position-fixed top-0 end-0 p-1 m-3 bg-success text-light"
  [autohide]="true"
  [delay]="4000"
  (hidden)="showDeleteSuccessToast = false"
>
Successful deletion
</ngb-toast>

<!--/* MODAL DELETE ELEMENT */-->
<ng-template #modalDelete let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-title">Delete</h4>
    <button
      type="button"
      class="btn-close"
      aria-describedby="modal-title"
      (click)="modal.dismiss('cross')"
    ></button>
  </div>
  <div class="modal-body">
    <p>
      <strong>Are you sure you want to delete this item <span
        class="text-primary">{{selectedElementDeleteConfirmation?.name}}</span> ?</strong>
    </p>
    <p>
      <span class="text-danger">Deletion is irreversible</span>
    </p>

  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-secondary" (click)="modal.dismiss()">Cancel</button>
    <button type="button" class="btn btn-danger" (click)="modal.close()">Confirm</button>
  </div>
</ng-template>

