<!--/* ACTION BAR */-->
<section>
  <div class="container-fluid shadow m-0">
    <div class="container my-0">
      <div class="row justify-content-center justify-content-lg-between">
        <!--/* search bar */-->
        <div class="col-auto py-2">
          <div class="d-flex align-items-center">
            <label for="searchBar" class="my-auro me-2">
              <fa-icon [icon]="iconSearch" class="me-1"></fa-icon>
            </label>
            <input
            id="searchBar"
              type="text"
              placeholder="Filter by name, type or rank"
              class="input-group-text text-start shadow"
              size="30"
              (input)="onInputSearchFilter($event)"
            >
          </div>
        </div>
        <!--/* button new armor */-->
        <div class="col-auto py-2">
          <button
            class="btn btn-success my-auto shadow"
            (click)="onClickAddElement()"
          >
          <fa-icon [icon]="iconAdd" class="me-1"></fa-icon>
            NEW ARMOR
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="border border-2 border-success"></div>
</section>

<!--/* TITLE */-->
<section>
  <div class="container text-center text-bg-success py-1 my-4 shadow">
    <h1>Armor list</h1>
  </div>
</section>

<!--/* CARDS */-->
<section>
  <!--/* spinner */-->
  <div class="position-fixed top-50 start-50 translate-middle" *ngIf="loadingArmors">
    <div class="spinner-border"></div>
  </div>
  <!--/* list */-->
  <div class="container">
    <div class="row justify-content-arround">
      <ng-container *ngFor="let armor of armors$ | async">
        <div class="col-auto mx-auto">
          <app-armor-card
          [armorInput]="armor"
          (editElement)="onClickEditElement($event)"
          (deletedElement)="onClickDeleteButton($event)"
          ></app-armor-card>
        </div>
      </ng-container>
    </div>
  </div>
</section>

<!--/* MODAL FORM */-->
<app-armor-modal-form
  (refreshArmorsObservable)="refreshArmorsObservable()"
></app-armor-modal-form>

<!--/* TOAST DELETE SUCCESS */-->
<ngb-toast
  *ngIf="showDeleteSuccessToast"
  class="position-fixed top-50 start-50 translate-middle bg-success text-center text-light border border-2 border-dark shadow"
  [autohide]="true"
  [delay]="4000"
  (hidden)="showDeleteSuccessToast = false"
>
Successful deletion
</ngb-toast>

<!--/* MODAL DELETE ELEMENT */-->
<app-modal-delete-element
  [name]="selectedElementDeleteConfirmation?.name"
  (deleteElement)="deleteElement()"
></app-modal-delete-element>
