<!--/* TITLE */-->
<section>
  <div class="container text-center text-bg-success py-1 my-4 shadow">
    <h1>Armor details</h1>
  </div>
</section>

<!--/* CARD DETAILS */-->
<div
  *ngIf="(armor$ | async) as armor"
  class="container"
  >
  <div class="card border border-2 border-success shadow">
    <div class="card-img-top d-flex justify-content-around" >
      <div>
        <img
          src="{{armor.imageMale}}"
          class=""
          alt="image armor male"
        >
      </div>

      <div>
        <img
        src="{{armor.imageFemale}}"
        class=""
        alt="image armor female"
        >
      </div>
    </div>
    <div class="card-body">
      <h5 class="card-title">{{armor.name}}</h5>
      <div class="card-text">Id : {{armor.id}}</div>
    </div>
    <div class="container-fluid border border-1 border-success"></div>
    <div class="row justify-content-between m-2">
      <div class="col-lg-4">
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Type : {{armor.type}}</li>
          <li class="list-group-item">Rank : {{armor.rank}}</li>
          <li class="list-group-item">Rarity : {{armor.rarity}}</li>
          <li class="list-group-item text-bg-success text-light">Defense</li>
          <li class="list-group-item">Base : {{armor.defense.base}}</li>
          <li class="list-group-item">Max : {{armor.defense.max}}</li>
          <li class="list-group-item">Augmented : {{armor.defense.augmented}}</li>
        </ul>
      </div>
      <div class="col-lg-4">
        <ul class="list-group list-group-flush">
          <li class="list-group-item text-bg-success text-light">Resistances</li>
          <li class="list-group-item">Fire : {{armor.resistances.fire}}</li>
          <li class="list-group-item">Water : {{armor.resistances.water}}</li>
          <li class="list-group-item">Ice : {{armor.resistances.ice}}</li>
          <li class="list-group-item">Thunder : {{armor.resistances.thunder}}</li>
          <li class="list-group-item">Dragon : {{armor.resistances.dragon}}</li>
        </ul>
      </div>
      <div class="col-lg-4">
        <ul class="list-group list-group-flush">
          <li class="list-group-item text-bg-success text-light">Armor set</li>
          <li class="list-group-item">Id : {{armor.armorSet.id}}</li>
          <li class="list-group-item">Name : {{armor.armorSet.name}}</li>
          <li class="list-group-item">Rank : {{armor.armorSet.rank}}</li>
          <li class="list-group-item">Pieces : {{armor.armorSet.pieces}}</li>
          <li class="list-group-item">Bonus : {{armor.armorSet.bonus}}</li>
        </ul>
      </div>
    </div>
    <div class="container-fluid border border-1 border-success"></div>
    <div class="card-body d-flex justify-content-center">
      <a routerLink="/armor" class="btn btn-dark text-uppercase text-light mx-2 shadow">
        <fa-icon [icon]="iconBack" class="me-1"></fa-icon>
        Back
      </a>
      <button
      class="btn btn-dark text-uppercase text-warning mx-2 shadow"
      (click)="onClickEditElement(armor)"
      >
        <fa-icon [icon]="iconEdit" class="me-1"></fa-icon>
        EDIT
      </button>
      <button
      class="btn btn-dark text-uppercase mx-2 text-danger shadow"
      (click)="onClickDeleteButton(armor)"
      >
        <fa-icon [icon]="iconDelete" class="me-1"></fa-icon>
        DELETE
      </button>
    </div>
  </div>
</div>

<!--/* MODAL FORM */-->
<app-armor-modal-form
  (refreshArmorPromise)="refreshArmorPromise($event)"
></app-armor-modal-form>

<!--/* TOAST DELETE SUCCESS */-->
<ngb-toast
  *ngIf="showDeleteSuccessToast"
  class="position-fixed top-50 start-50 translate-middle bg-success text-center text-light border border-2 border-dark shadow"
  [autohide]="true"
  [delay]="4000"
  (hidden)="showDeleteSuccessToast = false"
>
Successful deletion
</ngb-toast>

<!--/* MODAL DELETE ELEMENT */-->
<app-modal-delete-element
  [name]="selectedElementDeleteConfirmation?.name"
  (deleteElement)="deleteElement()"
></app-modal-delete-element>
